body{
    background: linear-gradient(to right, rgb(45, 165, 186), white);
    }

.calculadora{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.contenedor{
    border-radius: 15px;
    width: 250px;
    height: 370px;
}


input{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border:none;
    margin-top: 20px;
    background: linear-gradient(to right, rgb(203, 228, 203), rgb(219, 242, 200));
    text-align: right;
    font-size: 24px;
}

.pantalla{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

button{
    width: 50px;
    height: 50px;
    margin: 8px;
    border: none;
    border-radius: 30px;
    background-color: rgb(108, 184, 151);
    color: honeydew;
    font-size: 24px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(85, 147, 120);
    
}

.botonera-1, .botonera-2, .botonera-3, .botonera-4{
    display: flex;
    justify-content: space-evenly;
}

div.contenedor{
   background-color: rgb(193, 238, 232); 
}






