h1{
    display: flex;
    justify-content: center;
}
.formulario{
    display: flex;
    justify-content: center;
}
input{
    margin-bottom: 15px;
    width: 200px;
}
button{
    width: 150px;
    height: 25px;
    color:white;
    background-color: blue;
}