body{

}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.botones{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button{
    margin:20px
}
img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
